.App {
  text-align: center;
}

.navlinks {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlinks li {
  margin: 0 0.5rem;
}

.navbar {
  border-bottom: 1px solid lightgray;
}

.jumbotron-links > .btn {
  margin: 0 0.5rem;
}

#form-signup small {
  margin-bottom: 1rem;
}

.footer {
  /* position: relative; */
  /* bottom: 0; */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  /* line-height: 60px; */
  /* Vertically center the text there */
  /* background-color: #f5f5f5; */
  background-color: black;
  margin-top: auto;
}
